* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.3;
    text-align: center;
    background-color: #333;
    color: #fff;
}

p {
    padding: 16px 0;
}

a {
    text-decoration: dashed;
    color: inherit;
}

header {
    height: 80rem;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

header .bg-image {
    position: absolute;
    background-image: url(images/4.jpg);
    background-size: cover;
    background-position: center;
    height: 80rem;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
}

header h1 {
    padding: 30rem;
    padding-bottom: 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: 0.5rem 0;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

#section-a {
    background-color: #aeaeae;
    padding: 3.2rem 0;
}

.foto {
    padding: 40px 0;
}

.foto1, .foto2, .foto3 {
    width: 35rem;
    height: 35rem;
    border: 5px solid #333;
    margin: 15px;
}

#section-b {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
}

.hakkindafoto {
    padding: 1rem 5rem;
}

.hakkindafoto1 {
    border: 0.3rem solid black;
}

.hakkinda {
    font-size: larger;
    padding: 4.5rem 8.5rem;
}

#section-c {
    background-color: #aeaeae;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    flex-wrap: nowrap; 
}


.kutu1, .kutu2 {
    width: 250px;
    height: 250px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.kutu1 img {
    width: 10px;
    transition: all 0.4s;
    margin: 9px;
}

.kutu1 img:hover {
    background-color: #aeaeae;
    border: 3px solid black;
    border-radius: 10px;
}

.kutu2 table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
}

.kutu2 table td {
    padding: 5px;
    border: 1px solid #fff;
}

#contact {
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 70%;
}

#contact h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: #fff;
}

#contact label {
    display: block;
    text-align: left;
    margin-bottom: 1px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ddd;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 8px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #222;
    color: #fff;
    font-size: 1.2rem;
}

#contact input::placeholder, #contact textarea::placeholder {
    color: #888;
}

#contact textarea {
    resize: none;
}

#contact .btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact .btn:hover {
    background-color: #555;
}
